*{
    margin:0;
    padding:0;
}
:root{
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
html{
    font-size: 20px;
}
body{
    font-family: monospace;
    color:rgb(74, 74, 209);
    background-color: #efefef;

}
nav{
    width: 100vw;
    height: 10vh;
    background-color: aliceblue;
    display: flex;
    text-align: center;
    box-shadow: var(--dark-shadow);
}
.nav-center{
    width: 60vw;
    margin:auto;
    font-size: 1.2rem;
    text-align: center;
}



@media screen and (max-width: 992px) {
  .nav-center{
      width: 95vw;
      font-size: 1rem;
  }
}
.container{
    /* width: 100%; */
    /* height: 100%; */
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: calc(100% - 100px); */
}
.container h2{
    display: inline-block;
    border:1px solid black;
    background-color: #000;
    color:#fff;
    padding: 10px;
    border-radius: 4px;
}
.color{
    color: lawngreen;
}
.btn{
    margin-top: 20px;
    padding: 8px 14px;
    border: 2px solid black;
    border-radius: 4px;
    letter-spacing: 1px;
    font-size: 1.2rem;
    transition: all ease-in 0.1s;
    text-transform: uppercase;
}
.btn:hover{
    background-color: black;
    color:#fff;
}