*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;
}

.head-container{
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:0 20%;
}
.head-container span{
    font-family: monospace;
    font-size: 1.5rem;
    text-transform: uppercase;
}
#background-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 90%;
}
#background-container h1{
    display: inline-block;
    background-color: black;
    padding: 9px;
    border-radius: 10px;
    color: white;
}

.btn{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    cursor: pointer;
}
.btn-primary{
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn-dark{
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}
@media only screen and (max-width: 600px) {
    .head-container{
        margin:0 10px;
    }
    #background-container{
        flex-direction: column;
        justify-content: center;
        
    }
    #background-container h1{
        margin-bottom: 10px;
    }
  }